<div class="row">
  <div class="col-8">
    <div class="main-input" [ngStyle]="{'border': isFocusInput ? '2px solid black': '1px solid rgba(0, 0, 0, 0.54)'}">
      <label [ngClass]="changeLabelStyle">{{ title }}</label>
      <div style="width: 100%;">
        <input #inputField [(ngModel)]="name"/>
      </div>
      <div class="d-flex align-items-center" *ngIf="showClearButton">
        <button class="clear-button" (click)="clearInput()">x</button>
      </div>
    </div>
  </div>
  <div class="col-4">
    <button class="btn btn-dark btn-lg">
      Find similar assets
    </button>
  </div>
  <div class="col-8">
    <ul class="list-group ticker-table">
      <li *ngFor="let ticker of tickers"class="list-group-item" (click)="updateSelectedTicker(ticker)"><b>{{ticker.symbol || ''}}</b> {{ticker.name || ''}}</li>
    </ul>
  </div>
</div>
