<header>
  <h2 class="container">Logo</h2>
</header>
<main class="h-75 container">
  <div class="mt-5 mb-5">
    <h1>Find similar assets for tax-loss harvesting</h1>
    <app-search-input class="mt-2 mb-2"></app-search-input>
  </div>
  <h2 class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, ea!</h2>
  <p class="">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae reiciendis excepturi rerum odit, enim cum et
    maxime sint quod vitae debitis sequi laboriosam cumque sapiente amet ab exercitationem officia totam dolore,
    laudantium tenetur! Quaerat corporis possimus rerum tempore omnis ipsa similique error at exercitationem, magnam
    dignissimos laborum maiores nisi saepe fugit voluptates expedita sequi ea tempora est assumenda. Sunt eius illum
    itaque maiores magni debitis nesciunt dolores sequi porro adipisci, ipsa laborum molestias tempora? Alias nobis sit
    adipisci hic facere! Fuga, excepturi? Facere inventore mollitia atque sequi eos eum cupiditate asperiores voluptas
    dignissimos delectus obcaecati modi consequatur aspernatur beatae, debitis iusto autem libero praesentium? Ex, magni
    nesciunt. Nobis maxime, eos inventore officiis at id nesciunt eaque error voluptates repellat, modi fugiat. Dolor
    dolores quasi maxime voluptatum recusandae corrupti tempora nemo autem enim ipsa labore omnis laudantium commodi,
    adipisci voluptatem ipsam veniam illo hic quibusdam ad ex nihil eum. Quas aut distinctio libero voluptatibus minima
    molestias facilis impedit quam ex, neque nisi enim unde ad accusantium deleniti pariatur iure nam maiores accusamus
    quisquam eos fugiat sit sed? Nobis commodi modi beatae distinctio aliquam voluptatem cumque reiciendis, soluta quasi
    voluptas necessitatibus reprehenderit aliquid molestias fugiat deserunt inventore tenetur mollitia velit! Quos
    doloribus aut dolor delectus voluptate, magni distinctio quibusdam. Tenetur, esse. Exercitationem doloremque eveniet
    quia facilis totam laboriosam quis cumque, mollitia maxime, dolorem veritatis nesciunt dignissimos nobis ullam
    temporibus officiis repellendus nam ex rem tempora quasi labore debitis perferendis. Facilis libero itaque labore
    aliquid. Earum ipsa vitae iure, eligendi id quos ducimus obcaecati dolores necessitatibus mollitia, atque quam ex
    aliquid voluptatibus itaque ab. Ipsa, nemo itaque quas hic quasi, adipisci mollitia aliquid blanditiis placeat
    officia dolor repellendus ea velit pariatur voluptas fuga asperiores nisi dignissimos commodi saepe quae officiis
    nihil! Eveniet aperiam, delectus totam sed reiciendis animi qui ipsum. Laudantium, a consequatur.
  </p>
</main>
<footer>
  <div class="container-fluid bg-dark text-light">
    <div class="100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quis placeat voluptatibus ea fugit
      totam nemo fugiat laborum debitis distinctio dolorum error consequuntur sit quibusdam voluptatem, quae, aliquid
      nihil aliquam.</div>
  </div>
</footer>